---
nazwa: {{ organization.name }}

# wyslij.co/testowej - adres, pod którym będzie dostępna strona
adres: {{ organization.slug }}

strona: {{ organization.website }}
krs: {{ organization.krs }}

dostawa:
  ulica: {{ organization.street }}
  kod: {{ organization.postal_code }}
  miasto: {{ organization.city }}
  telefon: {{ organization.phone_number }}
  email: {{ organization.email }}
  kod_paczkomatu: {{ organization.package_box_code }}
  dodatkowe_informacje: {{ organization.additional_info }}

produkty:
  - nazwa: Testowy produkt
    link: http://example.com
