name: Auto Assign
on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

permissions:
  issues: write
  pull-requests: write

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - name: 'Auto-assign issue'
      uses: pozil/auto-assign-issue@v2.0.1
      with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          assignees: ivellios,ksenecki,EmiM
          numOfAssignee: 1
