name: Walidacja zmiany plików organizacji

on:
  pull_request:
    paths:
      - 'organizations/*.yaml'

permissions:
  contents: read

jobs:

  yaml-linting:
    name: Walidacja składni YAML
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ibiqlik/action-yamllint@v3
        with:
          config_data: |
            extends: default
            rules:
              line-length: disable
              empty-values: disable
              empty-lines: disable
              trailing-spaces: disable
              comments: disable
              comments-indentation: disable
              indentation:
                spaces: consistent
          file_or_dir: organizations/*.yaml

  validate-organizations:
    name: Walidacja danych organizacji
    runs-on: ubuntu-latest
    needs: yaml-linting
    steps:
      - name: Pobranie kodu
        uses: actions/checkout@v4
      
      - name: Wykrycie zmienionych plików organizacji
        id: changed-files
        uses: tj-actions/changed-files@v41
        with:
          files: organizations/*.yaml
      
      - name: Walidacja plików organizacji
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: wyslijco/walidacja-organizacji@v1.1.0
        with:
          files: ${{ steps.changed-files.outputs.all_changed_files }}
          organizations-dir: organizations
          slug-field: adres
